{% extends 'base.html' %}

{% block titulo %}Retenciones{% endblock %}

{% block menu_vertical %}{% include 'menus/menu_vertical.html' %}{% endblock %}

{% block menu_horizontal %}{% include 'menus/menu_horizontal.html' %}{% endblock %}

{%block seccion %}

<div class="row g-1 align-items-center">
  <div class="col">
    <div class="page-pretitle">Panel Principal de Retenciones</div>
    <h2 class="page-title">Retenciones</h2>
  </div>
</div>

{% endblock %}


{% block contenido %}

{% endblock %}